# Remember to rename this file to .env before running the application

# --- Config
BASE_URL="http://localhost:3000"

# --- Database
# PostgreSQL connection string
# For local development (connecting to Docker PostgreSQL):
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/verv"
# For running inside Docker Compose:
# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/verv"

# --- Auth
FEIDE_CLIENT_ID="***"
FEIDE_CLIENT_SECRET="***"

# --- Groups
GROUPS_API_URL="http://localhost:3000/api/groups"

# --- API
ADMIN_KEY="foobar"

# --- SES
AWS_REGION="eu-north-1"
AWS_SES_ACCESS_KEY_ID=""
AWS_SES_SECRET_ACCESS_KEY=""
